[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
flake8 = "*"
sqlalchemy = "*"
uvicorn = "*"
pyjwt = "*"
python-multipart = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
